.hero {
  padding: 120px 0;
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
}

.hero-title {
  color: #ffffff;
  font-size: 36px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-weight: 700;
  margin-bottom: 0;
}

.hero p {
  color: rgba(255,255,255,0.6);
  font-size: 20px;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 0.6em;
  font-size: 14px;
  line-height: 1;
  margin: 20px;
  padding: 20px 25px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.hero-button {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
}

.hero-button:hover,
.hero-button:focus {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: #3498db;
}
